{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-12 text-center">
      <h1>사이트</h1>
    </div>
  </div>
</div>
{% if request.session.user %}
<div class="container">
  <div class="row mt-5">
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary" onclick="location.href='/board/board_list/'">Go to Board</button>
      <button type="submit" class="btn btn-primary" onclick="location.href='/member/logout/'">로그아웃</button>
    </div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="row mt-5">
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary" onclick="location.href='/member/login/'">로그인</button>
      <button type="submit" class="btn btn-primary" onclick="location.href='/member/register/'">회원가입</button>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}